<!DOCTYPE html>
<head>
  <title>Journey to the East</title>
</head>
<style>
#button {width:100%; text-align:center;border:none;}
.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Georgia;
}
</style>

<body background='parchment.jpg'>
<h1 style='text-align: center; font-family: Georgia;'>Journey to the East</h1>
<h3 style='text-align: center; font-family: Georgia;'>A Web Novel Editor</h3>
<h4 style='text-align: center; font-family: Georgia;'><a href='https://github.com/Jeff-Saler/Web-Novel-Editor'>Visit the Repository</a></h4>
<div id='button'>
<form action="/input", method = "POST">
  <button class= 'button' type="submit" >Submit Text</button>
</div>
