<!DOCTYPE html>
<html>

<head>
  <title>Journey to the East</title>
</head>
<style>#textarea {width:100%; text-align:center;border:none;}</style>
<body background='static/parchment.jpg'>
<h1 style='text-align: center; font-family: Georgia;'>Journey to the East</h1>
<h3 style='text-align: center; font-family: Georgia;'>A Web Novel Editor</h3>
<div id="textarea">
<form action="/text", method = "POST">
  <p style='font-family: Georgia;'>Input Raw Text:<br>
  <textarea id="wmd-input" class="wmd-input processed" name="text" align="center"	cols="92" rows="15" tabindex="101" data-min-length=""></textarea><br>
  <button type="submit" >Submit Text</button>
</div>
</form>
</body>
</html>
